/* Styles généraux */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

/* Conteneur principal */
.container {
  margin: 30px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Titres */
.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #217346;
  text-align: center;
}

.subtitle {
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 10px;
  color: #444;
}

/* Inputs */
.file-input,
.input-field {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

/* Boutons */
.btn {
  display: inline-block;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.primary-btn {
  background-color: #30a334;
  color: white;
  border: none;
}

.primary-btn:hover {
  background-color: #18611b;
}

.secondary-btn {
  background-color: #4caf50;
  color: white;
  border: none;
}

.secondary-btn:hover {
  background-color: #2b642e;
}

.tertiary-btn {
  background-color: #c7c7c7;
  color: #333;
  border: none;
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 5px;
}

.tertiary-btn:hover {
  background-color: #807d7d;
}

.btn-delete-filtre{
  background-color: #ff4137;
  color: #333;
  border: none;
  padding: 10px 20px;
  margin: 0px 0;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;

}
.btn-delete-filtre:hover{
  background-color: brown;
}

/* Section d'erreur */
#error-message {
  color: red;
  font-weight: bold;
}

/* Cases à cocher */
#checkboxContainer,
#checkboxContainerFiltre {
  margin-bottom: 20px;
}

/* Styles pour les colonnes */
.unselected-column {
  text-decoration: line-through;
  color: rgb(85, 84, 84);
}

/* Log output */
.log-output {
  margin-top: 20px;
  padding: 10px;
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 4px;
  max-height: 150px;
  overflow-y: auto;
  font-size: 14px;
}
#fileButton {
  box-shadow: 0.01em 0 0.1em 0.1em black;
  background-color: whitesmoke;
  width: 180px;
  height: 38px;
  border-radius: 0.5em;
  font-size: smaller;
  font-weight: 550;
}
#fileButton:hover {
  background-color: lightgray;
  cursor: pointer;
}

#checkboxRow{
  display: none;
}
.separator{
  width: 90 vw;
  border: 1px solid grey;
  margin-bottom: 2vh;
  margin-top: 2vh;
}
.header-item{
  margin-left: 5vw;
}
.checkbox-item{
  margin-left: 5vw;
}
#hiddenTableFiltre{
  display: none;
}
#scrollHistorique{
  width: 90vw;
  max-height: 30vh;
  overflow-y: auto;
  cursor: pointer;
}
#scrollRowValue{
  width: 90vw;
  max-height: 45vh;
  overflow-y: auto;
  cursor: pointer;
}


